{% extends 'staff/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
      Department create - {{ block.super }}
{% endblock %}
{% block content %}
<h3>Enter title of new department</h3>
      <form action="{% url 'department_create_url' %}" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group">
                  {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary">Create department</button>
      </form>

{% endblock %}