{% extends 'staff/base.html' %}

{% block title %}
   <p>Tag Delete {{ tag.title|title }} - {{ block.super }}</p>
{% endblock %}
{% block content %}
    <form action="{% url 'department_delete_url' slug=department.slug %}" method="post">
        {% csrf_token %}
        <h3>Are you sure want to delete <b>{{ department.title }}</b> tag?</h3>
        <a href="{% url 'department_detail_url' slug=department.slug %}">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}